.filter{
    height: 100%;
}

.filterObj{
    /* height: 10%; */
    width: 97%;
    background-color: white;
    margin-top:1%;
    margin-left: 1%;
    margin-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    display:inline-block;
    justify-content: space-between;
    text-align: justify;
}

.filterEl{
    display: inline-block;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 2%;
    /* border-style: solid;
    border-radius: 4px; */
}

.link{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    width: 30%;
    font-size: 22px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
}

.remove{
    float: right;
    margin-right: 1%;
    background-color: white;
    border-radius: 4px;
    border-width: 1px;
}

.content{
    height: 90%;
    display: flex;
}

.list{
    height: 100%;
    width: 37%;
    display: flex;
    flex-direction: column;
}

.customFilters{
    height: 8%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.filterList{
    height: 80%;
    width: 85%;
    background-color: #26303A;
    border: 1vw solid white;
    margin-left: 5%;
    overflow-y: auto;
}

.topTitle{
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 20px;
    text-align: center;
}

.submit{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    width: 30%;
    font-size: 20px;
}

.filters{
    height: 100%;
    width: 21%;
    display: flex;
    flex-direction: column;
}

.scenarioTitle{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 100%;
}

.filterInputs{
    margin-top: 1%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.customFilterInputs{
    margin-top: 1%;
    width: 97%;
}

.add{
    margin-top: 3%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

