.body{
    height: 100%;
}

.topcontent {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom:2%;
    justify-content: space-between;
}

.filters{
    height: 80%;
    display:flex;
    flex-direction: row;
    background-color: #f1f2f6;;
    padding:1%;
    border-radius: 5px;
}

.filter{
    height: 80%;
    width: 33%;
    padding:2%;
}

.action {
    height:80%;
    width: 20%;
    background-color: #f1f2f6;;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:1%;
    margin-left: 6%;
    border-radius: 5px;
}



.filterObj{
    /* height: 10%; */
    width: 97%;
    background-color: white;
    margin-top:1%;
    margin-left: 1%;
    margin-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    display:inline-block;
    justify-content: space-between;
    text-align: justify;
}

.filterEl{
    display: inline-block;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 2%;
    /* border-style: solid;
    border-radius: 4px; */
}

.submitBtn{
    font-size: 20px;
    width: 40%;
    background-color: lightgreen;
    color: white;
    padding: 10px;
    border-radius:3px;
    text-decoration: none;
}

.resetBtn{
    font-size: 20px;
    width: 40%;
    border-radius: 3px;
    background-color: coral;
    padding: 10px;
    color: white;
}

.remove{
    float: right;
    margin-right: 1%;
    background-color: white;
    border-radius: 4px;
    border-width: 1px;
}

.content{
    height: 90%;
    display: flex;
}

.list{
    text-align: center;
    height: 100%;
    background-color: #f1f2f6;;
    padding: 2%;
    border-radius:5px;
}

.filterList{
    height: 80%;
    width: 85%;
    background-color: white;
    overflow-y: auto;
}

.getList{
    height: 65%;
    width: 100%;
    background-color: white;
    border: 0.5vw solid white;
    margin-right: 5%;
    margin-bottom: 5%;
    overflow-y: auto;
}

.getTitle{
    margin-top: 0%;
}

.getText{
    margin-left: 2%;
    /* border-style: solid;
    border-radius: 4px; */
}

.submit{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    width: 30%;
    font-size: 20px;
}


.filterInputs{
    width: 100%;
}

.customFilterInputs{
    margin-top: 1%;
    width: 97%;
}

.add{
    border:none;
    margin-top: 3%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color:#1999d8;
    border-radius: 5px;
    color:white;
}

.add:hover {
    color:black;
    background-color: #c0e0fd; 
}

.customfilter {
    margin: 3%;
    border-radius: 5px;
    padding:2%;
    height: 84%;
    background-color: #f1f2f6;;
    margin-right: 0;
    width: 20%;
    /* display: inline-block; */
}

.customInput {
    /* height: 15%; */
    margin-bottom: 5%;
}

.rightcontent {
    padding: 3%;
    display:flex;
    flex-direction: column;
}

.filterTitle {
    text-align: center;
}

