html, body, .home{
  margin: 0px;
  background-color: #26303A;
  height:100%;
}

.header {
  height: 10%;
  background-color: white;
  display: flex;
}

.container {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.box {
  margin: 5%;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.mainbtn {

  background-color: #26303A;
  color:white;
  height:20%;
  width:50%;
  border-radius: 10px;
  font-size: 20px;
}

.mainbtn:hover {
  background-color: #2AA7DD;
  font-size: 15px;
}

